/*variables*/

/*colors*/
$color_0  : #FFFFFF;
$color_01 : #000000;

$color_1  : #FF69B4; /*border*/
$color_2  : #FFE6F2; /*background*/
$color_3  : #FFB3D9; /*border*/
$color_4  : #FF99CC; /*background second act*/